<div class = "container">
	<div style = "width: 470px; margin-left: 235px;">
		<div class = "fieldgroup">
			<div class = "fields">
				<%= form_for(:session, url: sessions_path) do |f| %>
					<%= f.text_field :email, :placeholder => "Insert Email Here"%>
						<br>
					<%= f.password_field :password, :placeholder => "Password"%>
						<br>
					<%= f.submit "Sign In!", class: "btn btn-large btn-primary" %>
				<% end %>
			</div>
		</div>
	</div>
</div>
