<script>
function showSubmitReply()
{
  if (document.getElementById('replyArea').value == ""){
    $('#submitReply').hide();
  }
  else{
    $('#submitReply').show();
  }

}

$('form').submit(function() {
  var id = document.getElementById('postId').value;
    var valuesToSubmit = $(this).serialize();
    $.ajax({
        url: $(this).attr('action'), //sumbits it to the given url of the form
        type: 'POST',
        data: valuesToSubmit,
        dataType: "JSON" // you want a difference between normal and ajax-calls, and json is standard
    }).success(function(json){
    });
    $.ajax({
      url: "/retrieve_answers",
      type: "GET",
      data: 'id='+id,
      success: function(resp) {
        $("#answer-column"+id).empty()
        $("#answer-column"+id).append(resp)

      },

    })
    return false; // prevents normal behaviour

});

</script>
<h1>Chatroom#index</h1>
<p>Find me in app/views/chatroom/index.html.erb</p>
