<div class = "container">
	<div class = "page-header"> 
		<h1> Account Info </h1>
		<h5 class = "heading" style = "color: #999;">
			Here you can view and edit your account information
		</h5> 
	</div>
	
	<table class = "table-bordered">
		<td class = "editCell">
			<b>Name:</b>	
			<span class = "editInput">
				
			<%= best_in_place @user, :name %>
			</span>
		</td>

		<td class = "editCell">
			<b>Email:</b> 
			<span class = "editInput"> 
			<%= best_in_place @user, :email %>
			</span>
		</td>
	<table>
</div>