<div class = "container">
	<div class = "page-header"> 
		<h1> Account Info </h1>
		<h5 class = "heading" style = "color: #999;">
			Here you can view and edit your account information
		</h5> 
	</div>
	
	<table class = "table-bordered" style = "width: 100%;">
	
		<td class = "editCell">
		
			<h5 style = "display: inline; padding-left: 10px;">Name: </h5>
			
			<span class = "editInput">		
				<%= best_in_place @user, :name %>
			</span>
		
		</td>

		<td class = "editCell">
		
			<h5 style = "display: inline; padding-left: 10px;">Email:</h5> 
		
			<span class = "editInput"> 
				<%= best_in_place @user, :email %>
			</span>
		
		</td>
	
	<table>
</div>