<div class = "container">
	<div style = "width: 470px; margin-left: 235px;">
		<div class = "fieldgroup">
			<div class = "fields center">

				<h5 class = "center">By checking out with PayPal you agree to a subscription of: $50/month</h5>
				<h6>Follow the link below to checkout with paypal</h6>
	
					<div style = "width: 100px; height: auto; padding-left: 185px;">
						<%= link_to image_tag("paypal.png"), paypal_checkout_path %>
			</div>
		</div>
	</div>
</div>
