<% provide(:account, "headerlinksSign") %>
<% provide(:messageboard, "headerlinksSign") %>
<% provide(:other, "headerlinksSign") %>
<% provide(:videos, "headerlinksActiveSign") %>

<h1>Videos#index</h1>
<p>Find me in app/views/videos/index.html.erb</p>
