<% provide(:account, "headerlinksSign") %>
<% provide(:messageboard, "headerlinksSign") %>
<% provide(:other, "headerlinksSign") %>
<% provide(:videos, "headerlinksActiveSign") %>

<div class = "container">
	 <%= render '/videos/video' %>
</div>