<div class = "answer" >
	
	<img src = <%= answer.user.avatar %> class = "thumbIndex" >
	<h5 style = "display: inline;" class = "heading"> <%= answer.user.name %> </h5>
	<div class = "post-content">
		<%= answer.body %>
	</div>

</div>
