<% if answers.class == Array and !answers.first.nil? %>
  <h1> Answers for Post number <%= answers.first.user.id %> </h1>
<% else %>
  <h1> No answers yet </h1>
<% end %>
<% answers.each do |answer| %>
  <%= render partial: "answers/answer", object: answer %>
<% end %>

