<% if !answers["post_id"].nil? %>
  <h1> Answers for Post number <%= answers["post_id"] %> </h1>
<% else %>
  <h1> No answers yet </h1>
<% end %>
<% answers["answers"].each do |answer| %>
  <%= render partial: "answers/answer", object: answer %>
<% end %>

