<body>

<div class = "container">

		<tr id = "1x1">
			<div class = "page-header"> 
				<h1 class = "heading">About us</h1> 
				<h5 class = "heading">
					We are a group of traders armed with a set of indicators and custom trade setups
				</h5> 
			</div>
			<td>		
				<h2 class= "left heading">Services</h2>
			</td>
			<td>
	<div id="myCarousel" class="carousel slide">
	  	<ol class="carousel-indicators">
		    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		    <li data-target="#myCarousel" data-slide-to="1"></li>
		    <li data-target="#myCarousel" data-slide-to="2"></li>
	  	</ol>
	  	<br>

	  <!-- Carousel items -->
	  	<div class="carousel-inner" style = "height: 225px;">

			<div class="active item" style = "height: 200px; padding-left: 10%; padding-right: 10%;">
				<br>
				 <img class = "right" style = "height: auto; width: 50px;" src = "./../assets/alerts.png"/>
				
				<h2 class = "heading">Trade Signal Alerts</h2>
				<p style = "color: #555; padding-right: 10%;">For only $50.00/month, alerts are sent real-time to the inbox of your choice such as your smartphone or workstation
				<br>
				This service aides traders in finding trade setups and saves time searching for a trade
				<br>
				 If you can't afford to come to training class this offers you an option to trade much like we do
				 <br> We offer free training to help you understand the alerts and how to trade them when they arrive in your inbox</p>
			</div>

			<div class="item" style = "padding-left: 10%; padding-right: 10%;">
			<br>
				<img class = "right" style = "height: auto; width: 50px;" src = "./../assets/video.png"/>
				<h2 class = "heading">Video Lessons</h2> 
				<p style = "color: #555; padding-right: 10%;">One week with us and you will never look at a chart the same way
					<br>
				From swing trading currencies to getting down and dirty scalping with a 5 minute chart day trading we cover it all in one week.
					<br>

				You will learn tips and tricks that will change the way you trade forever</p>  
			</div>

		    <div class="item" style = "padding-left: 10%; padding-right: 10%;">
		    	<br>
		    	<img class = "right" style = "height: auto; width: 50px;" src = "./../assets/call.png"/>
		    	<h2 class = "heading">Trading Rooms</h2>	
			  <p style = "color: #555; padding-right: 10%;">
	    		The Trading Room allows you to discuss upcoming trading setups with other FX traders.
	    		<br>
				Ever wondered what it would be like to sit in a room full of traders? Wonder no more. 
				<br>
				All of our users get a free month of access to the trading room after they have completed their training. 
				<br>This is a huge benifit to new and experienced traders a like, surrounded by like minded traders can be a huge advantage. 
			</p>
		    </div>
		  
		</div>

		  <!-- Carousel nav -->
		  <br>
		  <br>
		  <br>
		  <br>
		  <br>
		  <br>
		  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
		  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
		
	</div>
	</td>

</tr>
</div>
</body>