<% provide(:about, "headerlinks") %>
<% provide(:plans, "headerlinks") %>
<% provide(:disclaimer, "headerlinksActive") %>
<div class = "container">

	<div class = "page-header">
		<h1 class = "heading">Risk Disclaimer</h1>
		<h5 class = "heading">
			Forex trading carries a high degree of risk and it is possible to lose your entire investment
		</h5>
	</div>
<blockquote style = "padding: 10px; font-size: 10px;" >
	<p class = "disclaimer">
		Forex trading may not be suitable for all investors, therefore ensure you fully understand the risks involved, and seek independent advice if necessary.
	</p>
	<br>
	<p class = "disclaimer">
		MyFXProfits provides economic and market information and analyses as an educational service, but does not give trading advice. Visitors are advised to carefully consider the opinions and analysis offered on MyFXProfits in the context of the client or prospect’s individual analysis and decision making. Past performance is no guarantee of future results.
	</p>
	<br>
	<p class = "disclaimer">
		Users are advised to carefully review all claims and representations made on this site before investing any funds or opening an account with any Forex dealer. Any news, opinions, research, data, or other information contained within this site is provided as general market commentary and does not constitute investment or trading advice.
	</p>
	<br>
	<p class = "disclaimer">
		Hypothetical or simulated performance results have certain inherent
		limitations. Unlike an actual performance record, simulated results do
		not represent actual trading. Since the trades have not actually
		been executed the results may have under or over compensated for the
		impact, if any, of certain market factors, such as lack of liquidity.
		simulated trading programs in general are also subject to the fact
		that they are designed with the benefit of hindsight. No
		representation is being made that any account will or is likely to
		achieve profits or losses similar to those shown. simulated results do
		not necessarily imply future profits
	</p>
	<br>
	<p class = "disclaimer">
		Hypothetical performance results have many inherent limitations, some
		of which are described below. no representation is being made that any
		account will or is likely to achieve profits or losses similar to
		those shown. in fact, there are frequently sharp differences between
		hypothetical performance results and the actual results subsequently
		achieved by any particular trading program.
	</p>
	<br>
	<p class = "disclaimer">

			One of the limitations of hypothetical performance results is that
			they are generally prepared with the benefit of hindsight. In
			addition, hypothetical trading does not involve financial risk, and no
			hypothetical trading record can completely account for the impact of
			financial risk in actual trading. Example; The ability to
			withstand losses or adhere to a particular trading program in spite of
			trading losses are material points which can also adversely affect
			actual trading results. There are numerous other factors related to
			the markets in general or to the implementation of any specific
			trading program which cannot be fully accounted for in the preparation
			of hypothetical performance results and all of which can adversely
			affect actual trading results.

	</p>
	<br>
	<p class = "disclaimer">
		All systems, methodology, or pattern discussed within or in
		any of the product materials are for illustrative purposes only and
		are not to be construed as specific advisory recommendations. This
		material and any opinions are for education purposes only.
		Testimonials are not indicative of future performance results or any
		success and my not be representative or indicative of the experiences
		of other clients or your own experience. The Intentional Trader does
		not verify or endorse any claims or opinions provided by the above
		individuals.
	</p>

	<br>
	<small style = "font-size: 15px; color: #994814;">
	 	MyFXProfits is not responsible for any losses sustained as a result of any reliance on the information contained herein.
	</small>
	<br>
</blockquote>
</div>