<% provide(:about, "headerlinks") %>
<% provide(:plans, "headerlinks") %>
<% provide(:disclaimer, "headerlinksActive") %>
<div class = "container">

	<div class = "page-header"> 
		<h1 class = "heading">Risk Disclaimer</h1> 
		<h5 class = "heading">
			Forex trading carries a high degree of risk and it is possible to lose your entire investment
		</h5> 
	</div>
<blockquote style = "padding: 10px;" >
	<p>
		Forex trading may not be suitable for all investors, therefore ensure you fully understand the risks involved, and seek independent advice if necessary.  MyFXProfits does not recommend trading highly leveraged positions in order to meet the minimum monthly volume requirement.  Instead, the best idea is to pay the monthly subscription amount.
	</p>
	<br>
	<p>
		MyFXProfits is a community where foreign exchange traders can come together to share ideas and trading strategies.
	</p>
	<br>
	<p>
		MyFXProfits provides economic and market information and analyses as an educational service, but does not give trading advice. Visitors are advised to carefully consider the opinions and analysis offered on MyFXProfits in the context of the client or prospect’s individual analysis and decision making. Past performance is no guarantee of future results. 
	</p>
	<br>
	<p>
		Users are advised to carefully review all claims and representations made on this site before investing any funds or opening an account with any Forex dealer. Any news, opinions, research, data, or other information contained within this site is provided as general market commentary and does not constitute investment or trading advice.
	</p>
	<br>
	<small style = "font-size: 15px; color: #994814;">
	 	MyFXProfits is not responsible for any losses sustained as a result of any reliance on the information contained herein.
	</small>
	<br>
</blockquote>
</div>