<div class = "container">
<div id="myCarousel" class="carousel slide">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <!-- Carousel items -->
  <div class="carousel-inner">
<div class="active item" style = "padding: 10%;">
		<h1 class = "heading">
			Welcome! At myFXprofits, what we teach you in one lesson will change the way you look at charts forever! <br> <a href ="/signup"> Let us make a trader out of you!</a></h1>
		affordable training
		Classroom Training or Self paced - learn at home via out online training school.
		The forex market offers many opportunities for those looking to increase their monhtly income or in need of a career change.
		free demounlimted access
		Free demo accounts offer unlmited trading practice
		Learning to trade with a demo account ensures you wont lose any real money while you are learning
</div>
<div class="item" style = "padding: 10%;">
	    <h1 class = "heading">What we offer</h1>

	When class is over, we don't leave you hanging with unanswered questions, your success is important to us! So we offer the following:
	Alert Service - Students Only
	Skype Chatroom - Students Only
	Online Coaching
	Lifetime Indicator Updates
</div>
    <div class="item" style = "padding: 10%;"></div>
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>
</div>