<% provide(:about, "headerlinks") %>
<% provide(:disclaimer, "headerlinks") %>
<% provide(:plans, "headerlinksActive") %>
<div class = "container">

	<div class = "page-header">
		<h1 class = "heading"> Pricing </h1>
		<h5 class = "heading"> This is a list of all the paid and free plans available </h5>

		<p> $25/week </p>
	</div>

</div>