<% provide(:about, "headerlinks") %>
<% provide(:disclaimer, "headerlinks") %>
<% provide(:plans, "headerlinksActive") %>
<div class = "container">

	<div class = "page-header">
		<h1 class = "heading"> Pricing </h1>
		<h5 class = "heading"> This is a list of all the paid and free plans available </h5>
	</div>
			

	<div>

		<ul> 

			<li>
				$25/week 
			</li>
			<li>
				$80/month
			</li>

			<li>
				Free
			</li>

		</ul>

		<small style = "font-size: 15px; color: #994814;">
			- All payments are refundable within 48 hours of payment
		</small>

	</div>

</div>