<div class = "post">
	
	<img src = <%= post.user.avatar %> class = "thumb" >
	<br>
	<span class = "post-content">
		<%= post.body %>
	</span>
    <button style = "float:right;"class="comment-btn">Comments</button>

</div>

