<div class = "container">
	<table>

		<td style = "width: 470px; 	border-right: 1px solid #DDD;">
			<%= render @posts %>
		</td>
		<td style = "width: 470px;">
			<h1> &nbsp; Answers Go Here </h1>
		</td>
	</table>

</div>