<script src="../assets/javascripts/jquery.js"></script>
<script type = "text/javascript">
  function loadComments(id) {
    $.ajax({
      url: "/retrieve_answers",
      type: "GET",
      data: 'id='+id,
      success: function(resp) {
        $("#answer-column").empty()
        $("#answer-column").append(resp)
        
      },

    }) 
  };
</script>
<div class = "container" id="post-container">
  <div class = "posts" >
    <%= render @posts %>
  </div>
</div>
<div class = "container" id="answer-column">
</div>
