<% provide(:account, "headerlinksSign") %>
<% provide(:messageboard, "headerlinksActiveSign") %>
<% provide(:other, "headerlinksSign") %>
<% provide(:videos, "headerlinksSign") %>

<script type = "text/javascript">

$(function () {

  var previd = 0;

  function loadComments(id) {

    if (previd == 0) {
      document.getElementById(id).style.borderRight = "5px solid #AA4814";
      document.getElementById(id).style.backgroundColor = "#F6F6F6";
      $('#commentButton'+id).html("Hide Comments");
      $('#answer-column'+id).show();
      previd = id;
    }
    else if (previd == id) {
      $('#answer-column'+previd).hide();
      document.getElementById(previd).style.borderRight = "0";
      document.getElementById(previd).style.backgroundColor = "#FAFAFA";
      $('#commentButton'+id).html("View Comments");
      previd = 0;
    }
    else {
      $('#answer-column'+previd).hide();
      $('#answer-column'+id).show();
      document.getElementById(previd).style.borderRight = "0";
      document.getElementById(previd).style.backgroundColor = "#FAFAFA";
      document.getElementById(id).style.borderRight = "5px solid #AA4814";
      document.getElementById(id).style.backgroundColor = "#F6F6F6";
      $('#commentButton'+previd).html("View Comments");
      $('#commentButton'+id).html("Hide Comments");
      previd = id;
    }

    $.ajax({
      url: "/retrieve_answers",
      type: "GET",
      data: 'id='+id,
      success: function(resp) {
        $("#answer-column"+id).empty()
        $("#answer-column"+id).append(resp)

      },

    });

  }

  $('.viewComments').click(function () {
    console.log("ViewComments")
    console.log($('#postArea').val());
    id = this.getAttribute('post-id');
    loadComments(id);
  });

  $('#postArea').keyup(function(){ 

    if ($('#postArea').val() == ""){
      $('#submitPost').slideUp();
      $('#submitPostHolder').slideDown();
    }
    else{
      $('#submitPost').slideDown();
      $('#submitPostHolder').slideUp();
    }

  });
  
});


</script>

<div class = "container" >


  <div class = "postcreate-container">
    <!-- Form to create posts -->
    <%= form_for(:post, url: posts_path) do |f| %>
    <% @user = current_user %>

    <%= f.text_area :body, :placeholder => "Hey, #{@user.name}, post something", style: "height: 30px; width: 50%;", id: "postArea"%>

    <div style = "height: 35px;" class = "submitPost" id = "submitPost">
      <input class="btn btn-inverse btn-large", id = "submitButton" name="commit" type="submit" value="Share">
    </div>

    <div style = "height: 35px;" id = "submitPostHolder">
      <h5 class = "heading" style = "padding: 0px; margin: 0px; display: inline; vert"> 
        You can post a question, a message or just whatever's on your mind 
      </h5>
    </div>

    <br>

    <% end %>
  </div>
  <div class = "post-container">

    <div style = "margin-right: 250px;   min-height:1000px; vertical-align:top;" id="post-container">
      <br>

      <%= render '/posts/post' %>

    </div>

  </div>

</div>
