/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.container { 
width: 920px;
margin: 0 auto;
}

.body { 
padding-top: 500px;
color: #333333;
}

a:hover {
	color: red;
}

.fieldgroup {
position: relative;
margin-top: 10px;
width: 80%;
}

div {
display: block;
}

.fieldgroup .fields {
margin: 10px 0 0 0;
padding: 10px;

background: url("https://a248.e.akamai.net/assets.github.com/images/modules/account/fieldgroup_back.png?d04e7878") 0 0 no-repeat;
}

dl.form {
margin: 15px 0;
}

dl {
display: block;
-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
}