/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.container { 
width: 920px;
margin: 0 auto;
}

.center {
  text-align: center;
}

.right { 
float: right;
}

.left { 
float: left;
}

.center {
  text-align: center;
}

.logo { 
font-size: 50px;
padding: 5px;
}

.formtext{ 
color: #000;
}

.header-container { 
height: 50px;
padding-top: 15px;
background-color: #FFF;
}

.headerlinks{
	padding-left: 10px;
	padding-right: 10px;
}

.headerlinks:hover{
	background: #F5F5F5;
}

.fieldgroup {
position: relative;
margin-top: 10px;
}

div {
display: block;
}

.fieldgroup .fields {
margin: 10px 0 0 0;
padding: 15px;
background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.45, #FFF),
	color-stop(0.73, #FEFEFE),
	color-stop(0.76, #F8F8F8)
);

border: 1px solid #EEE;
border-bottom: 1px solid #F3F3F3;
}

.fields .names input {
width: 200px;
}

.fields input {
width: 417px;
}