//Body 

body { 
background-color: #FAFAFA;
margin-bottom: 100px;
}

//Links

a:link { text-decoration:none; font-color: #000; }
a:visited { text-decoration:line-through; }
a:hover { font-color: #040; }
a:active { }
a{ color: #010; }

.btn:active#signin {
	color: #999;
}
.btn#signin {
	width: 60px;
}

.heading a { 
color: #555;
}
//Heading Overrides

h3{ 
padding: 0px;
margin: 0px;
}

form {
	margin-bottom: 0px;
}

.heading {
	font-weight: normal;
	color: #FF4814;;
}

.editCell {
	
	width: 300px;
	height: 60px;
	text-overflow: ellipsis;
}

.editInput {
padding: 10px;
height: 20px;
font-size: 20px;
border-top: solid 1px #e9e9e9;
	text-overflow: ellipsis;
}

.editInput input{
height: 18px;
font-size: 15px;
width: 95%;
	text-overflow: ellipsis;
}

.editInput:hover {
cursor: pointer;
_cursor: hand;
color: #dd4814;
background-color: #F1F1F1;
}

.heading {
	font-weight: normal;
	color: #aa4814;
}

.edit { 
color: #991448;
float: right;
height: 15px;
width: auto;
}

.fieldgroup .fields {
padding: 15px;

border: 1px solid #DDD;
border-bottom: 2px solid #EEE;
border-radius: 6px;
}

label.filebutton {
	width: 100px;
    overflow:hidden;
    padding-right: 15px;
    padding-left: 5px;
}

label span input {
    z-index: 999;
    line-height: 0;
    font-size: 50px;
    position: absolute;
    top: -2px;
    left: -700px;
    opacity: 0;
    filter: alpha(opacity = 0);
    -ms-filter: "alpha(opacity=0)";
    cursor: pointer;
    _cursor: hand;
    margin: 0;
    padding:0;
}

.arrow {
padding-top: 2px;
	height: 15px;
	width: auto;
	float: right;

}

.arrowdiv {
padding: 10px;
height: 20px;
font-size: 20px;
border-top: solid 1px #e9e9e9;
}

.other_info {
	padding-left: 150px;
	float: right;
}

.thumb { 
width: 100px; 
height: auto; 
border: solid 1px #FAFAFA; 
border-radius: 5px;
}
.post {
	
	width: 50%;

}
.post-content {
	position:relative;
	padding:15px;
	width: 30%;
	text-align:center;
	color:#fff;
	background:#333; 
	/* css3 */
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
		border-radius:10px;
}
