@import "bootstrap";

//Body 

body { 
background-color: #FaFaFa;
margin-bottom: 100px;
}

//Links

a:link { text-decoration:none; font-color: #000; }
a:visited { text-decoration:line-through; }
a:hover { font-color: #040; }
a:active { }
a{ color: #010; }

.btn:active#signin {
	color: #999;
}
.btn#signin {
	width: 60px;
}

//Heading Overrides

h3{ 
padding: 0px;
margin: 0px;
}

form {
	margin-bottom: 0px;
}