$background: #FAFAFA;
$blue: #0b3e7f;
$red: #AA4814;
#answer-column {
  -webkit-transition: .4s ease-in-out opacity;
  -moz-transition: .4s ease-in-out opacity;
  -o-transition: .4s ease-in-out opacity;
  transition: .4s ease-in-out opacity;

  padding-left: 15px;

}

.postcreate-container {
  margin-top: 15px;
  border-bottom: 1px solid #DDD;
}


.post {
  padding-bottom: 50px;
  vertical-align:top;
  width: 650px;
  border-bottom: 1px solid #DDD;
  padding-top: 10px;
  display: block;
  text-overflow: hidden;
  word-wrap: break-word
}

.post:hover {
  background-color: #E9E9E9;
}

.post-content {
margin-bottom: 10px;
position: relative;
width: 400px;
height: auto;
text-align: left;
color: #333;
}
.submitPost{
display: none;
-webkit-transition: 10s ease-in-out opacity;
  -moz-transition: 10s ease-in-out opacity;
  -o-transition: 10s ease-in-out opacity;
  transition: 10s ease-in-out opacity;
}

.submitPost input {
  float: left;
display: inline-block;
padding: 4px 12px;
margin-bottom: 0;
font-size: 14px;
line-height: 20px;
text-align: center;
text-shadow: 0 1px 1px rgba(255,255,255,0.75);
vertical-align: middle;
cursor: pointer;
border: 1px solid #bbb;
border-color: #c8c8c8 #c8c8c8 #a2a2a2;
border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
border-bottom-color: #a2a2a2;
-webkit-border-radius: 0;
-moz-border-radius: 0;
border-radius: 0;
-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
color: #fff;
text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
background-repeat: repeat-x;
border-color: #000 #000 #000;
border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
}

.submitPost select {
  margin-left: 10px;
  margin-top: 5px;
  display: inline-block;
  padding: 4px 12px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255,255,255,0.75);
  cursor: pointer;
  background: #333;
  width: 125px;
  font-size: 12px;
  height: 20px;
  color: #FFF;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  background-repeat: repeat-x;
  border-color: #000 #000 #000;
  border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
}

.answer {
  width: 100%;
  padding-top: 10px;
}

.thumbAnswer{
  height: 35px;
  width: auto;
  border: solid 1px #EEE;
  border-radius: 5px;
}

.answerQuote{
  position:relative;
  padding:15px;
  color:#000;
  background:#EEE;

  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;
}
.answerQuote.left {
  margin-left:50px;
  background:#EEE;
}
.answerQuote:after {
  content:"";
  position:absolute;
  bottom:-15px; /* value = - border-top-width - border-bottom-width */
  left:50px; /* controls horizontal position */
  border-width:15px 15px 0; /* vary these values to change the angle of the vertex */
  border-style:solid;
  border-color:#EEE transparent;
    /* reduce the damage in FF3.0 */
    display:block;
    width:0;
}

/* creates triangle */
.answerQuote:after {
  top:15px; /* controls vertical position */
  left:-25px; /* value = - border-left-width - border-right-width */
  bottom:auto;
  border-width:5px 25px 5px 0;
  border-color:transparent #EEE;
}

.delete:hover {
  background-color: #333;
  color: #FFF;
  cursor: pointer;
  _cursor: hand;
}
.delete{
  font-size: 10px;
  float: right;
  color: #000;
  width: fixed;
  padding-left: 3px;
  padding-right: 3px;
}

.viewComments:hover {
  color: $blue;
  cursor: pointer;
  text-decoration: none;
  _cursor: hand;
}

.viewComments {
  color: #554814;
  font-size: 10px;
  float: left;
}
