<div class="navbar navbar-fixed-bottom footer-container" style = "">
    <div class="container" style="width: 940px; ">

   	<div style = 'color:#888; font-weight: 200;' class="small text-center">
      This site is a sandbox, some features may not be working and data is periodically reset
    </div>
    
  </div>
</div>
