<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/">Site Name</a>

      <ul class="nav">
        <li class="active"><a href="/">Home Login<%= yield(:title)%></a></li>
        <li><a href="/logout">Sign Out</a></li>
      </ul>

      <ul class="nav pull-right">
        <li><a href="/login">Sign In</a></li>
      </ul>

    </div>
  </div>
</div>