<div class="header-container" style="border-bottom:1px solid #ddd;">    
  <div class = "container clearfix">
    <span class = "logo left">
      <!--<img src = "./../assets/logo.png"/>-->
      <span style = "font-size: 70%;">MY</span>FX<span style = "font-size: 70%;">PROFITS</span>
    </span>
    <span>
      <a class = "btn right" href="/logout">Sign Out</a></span>
    </span>
  </div>
</div>



