<script type="text/javascript">
    $(function () {
    $('#logout').tooltip({ trigger: "hover", placement: "bottom" });
    $('#settings').tooltip({ trigger: "hover", placement: "bottom" });
    });
</script>

<div class="header-containerSign">
  <div class = "container clearfix">
    <h1 style = "float: left; margin-top: 5px;display: inline;">
      <a href="/"  class = "heading titleLink"><span style = "color: #333; font-size: 25px;">< MY</span>FX<span style = "color: #333; font-size: 25px;">PROFITS ></span></a>
     </h1>

    <h5 class = "headerlinkscontainerSign left" style = "display: inline; padding-left: 20px; ">
     <a href = '/posts' class = <%= yield(:messageboard) %>> MessageBoard</a>
     <a href = '/videos' class = <%= yield(:videos) %> >Videos</a>
    </h5>


    <h5>

      <a class = "headericons" id = "logout" data-toggle="tooltip" data-original-title="Sign Out" href="/logout"> <i class = "icon-signout"></i></a>
      <a class = "headericons" id = "settings" data-toggle="tooltip" data-original-title="Edit Account" href = '/account'><i class = "icon-cogs"></i></a>
      <a class ="headericons" style = "padding-top: 7px; font-weight: bold" href = '#' ><img src = <%= @user.avatar.url(:thumb) %> class = "thumbHeader" > <%= @user.name %>  </a>

    </h5>
  </div>
</div>