<div class="header-container">    
  <div class = "container clearfix">
    <a href = "/" class = "left"><img src = "./../assets/logo.png"/></a>

    <h5 class = "headerlinkscontainer left" style = "display: inline; padding-left: 20px; ">
     <a href = '/about' class = "headerlinks"> About </a>
     <a href = '/' class = "headerlinks"> Plans</a>
     <a href = '/' class = "headerlinks"> Videos</a>
     <a href = '/' class = "headerlinks"> Trading Room</a>
    </h5>
    
    <h5 style = "padding-top: 10px;">
      <a style = "width: 75px;"class = "btn right" id = "signin" href="/logout">Sign Out</a>
    </h5>
  </div>
</div>