<div class="header-container">

<nav>
    <ul class="cf">
      <a href="/" class="title">
        <span style="font-size: 25px;">MY</span><span>FX</span><span style="font-size: 25px;">PROFITS</span>       </a>
      <span class = "pull-right">
        <li>
          <a class="dropdown" href="/about">About</a>
        </li>

        <li>
          <a class="dropdown" href="/disclaimer">Disclaimer</a>
        </li>

        <li>
          <a class="dropdown" href='/pricing'>Pricing</a>
        </li>

        <li>
          <a class="dropdown" href="#">Partners</a>
            <ul>
                <li style = "border-top: 1px solid #ddd;"><a href="http://www.ninjatrader.com/"><img style = "width: 120px;"src = "./../assets/ninja.png"></a></li>
                <li><a href="http://www.kinetick.com/"><img style = " width: 120px; "src = "./../assets/kinetick.jpeg"></a></li>
            </ul>
        </li>

        <li>
          <a href="#signin" role="button" class="dropdown" data-toggle="modal">Sign In</a>
        </li>
      </span>
    </ul>
</nav>

      <!-- Modal -->

    <div id="signin" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="signinLabel" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 style = "font-weight: normal;" id="signinLabel">Sign In</h3>
      </div>

      <div class="modal-body">

        <%= form_for(:session, url: sessions_path) do |f| %>
        <h6>Email or Username</h6>
        <%= f.text_field :email, :placeholder => "Insert Email Here"%>
        <h6>Password <a href = '/reset' >(Forgot Password?)</a></h6>
        <%= f.password_field :password, :placeholder => "Password"%>
        <br>

      </div>
      <div class="modal-footer">
        <button class="btn left" data-dismiss="modal" aria-hidden="true">Close</button>
        <%= f.submit "Sign In!", class: "btn btn-primary right"%>
        <% end %>
      </div>
    </div>
</div>



