<div class="header-container" style="border-bottom:1px solid #ddd;">    
  <div class = "container clearfix">
    <span class = "logo left">
      <!--<img src = "./../assets/logo.png"/>-->
      <a href = "/">
      <span style = "font-size: 70%;">MY</span>FX<span style = "font-size: 70%;">PROFITS</span>
      </a>
    </span>
    <h5 class = "left" style = "display: inline; padding-left: 20px; ">
     <a href = '/about' class = "headerlinks"> About </a>
     <a href = '/' class = "headerlinks"> Plans</a>
     <a href = '/' class = "headerlinks"> Videos</a>
     <a href = '/' class = "headerlinks"> Trading Room</a>
    </h5>
    <span>
      <a class = "btn right" href="/logout">Sign Out</a></span>
    </span>
  </div>
</div>



