<div class="header-container">    
  <div class = "container clearfix">
    <h1 class = "left"style = "display: inline;">
       <a href="/"  class = "headerlinks">myfxprofits</a>
     </h1>

    <h5 class = "headerlinkscontainer left" style = "display: inline; padding-left: 20px; ">
     <a href = '/about' class = "headerlinks"> About </a>
     <a href = '/account' class = "headerlinks"> Account</a>
     <a href = '/' class = "headerlinks"> Videos</a>
     <a href = '/' class = "headerlinks"> Trading Room</a>
    </h5>
    
    <h5 style = "padding-top: 10px;">
      <a style = "width: 75px;"class = "btn right" id = "signin" href="/logout">Sign Out</a>
    </h5>
  </div>
</div>