<div class="header-container" style="border-bottom:1px solid #ddd;">    
  <div class = "container clearfix">
    <span class = "logo left">
     <span style = "font-size: 30px;">MY</span>FX<span style = "font-size: 30px;">PROFITS</span>
    </span>
    <span>
      <a class = "btn right" href="/login">Sign In</a>
      <a class = "btn right" href="/signup">Sign Up</a>
    </span>
    </span>
  </div>
</div>



